extends layout

block content
  h1= title
  p I love #{title}
  P Hello Eveyone! Please stay at home
  img(src="https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/640/360/75/dam/disneyland/attractions/disneyland/sleeping-beauty-castle-walkthrough/sleeping-beauty-castle-exterior-16x9.jpg?1561068316662")
